*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
darknet
.fuse*

*.weights
*.a
*.so

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

.vscode
.push.settings.jsonc

# Temp data / code
mix-cfgs
run*.sh
std*.txt